{% extends "base.html" %}
{% load static %}

{% block title %}Project: {% endblock %}

{% block content %}

    <div class="container">
    <div class="row">
        <div class="col-sm-12">
            {{ project.name }}
            {% for definition in definitions %}
                <div class="row">
                    <div class="col-md-4">
                        {{ definition.definition.description }}
                    </div>
                    <div class="col-md-4">
                        {% for source in definition.source %}

                            {{ source.term }}
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        {% for target in definition.target %}
                            {{ target.term }}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
