{% extends "base.html" %}
{% load static %}

{% block title %}Project: {% endblock %}

{% block content %}

    <div class="container">
    <div class="row">
        <div class="col-sm-12">
            {{ project.name }}
            {% for definition in definitions %}
                <div class="row">
                    <div class="col-md-4">
                        {{ definition.description }}
                    </div>
                    <div class="col-md-4">
                        {% for source in definition.source_terms %}
                            {{ source.term }}<br/>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        {% for term in definition.terms.all %}
                            {{ term }}<br/>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
